* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #262121;
    margin: 0;
    height: 100%;
}

#canvas1 {
    background: url('./images/background.png');
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#player-yellow, #player-blue{
    display: none;
}

#obstacles, #egg, #hatchling {
    display: none;
}

#greenemies, #brownemies, #menemies{
    display: none;
}